<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" class="page-body">

{% include page-header.html %}


{{ content }}


{% include footer.html %}
<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>
</body>

</html>

